<!DOCTYPE HTML>
<html>
<head>
    <title>Applied Students</title>
    <link href="compdash.css" rel="stylesheet">
</head>
<body>
    <header>
        <ul class="navBar">
            <li class="navLink"><a href="#">Home</a></li>
            <li class="navLink"><a href="#">Job Description</a></li>
            <li class="navLink"><a href="#">Select Student</a></li>
                
        </ul>
        <img src="logo2.png" id="logo">
    </header>
    
    <a href="#">
    <div class="company">
        <ul>
            <li><strong class="cname">Himanshu Chopade</strong></li><br>
            <li>RollNo: 2</li>
            <li>GPA :8.3</li>
        </ul>
    </div></a>

   
</body>
</html>
