<html>
    <head>
        <title>Congrtulations</title>
        <link href="congrats.css" rel="StyleSheet">
    </head>
    <body>
        <div><header><img src=" logo2.png" id="logo"></header><div>
        <img src="congrats.png"><div>
        <p>You have been hired As a Web developer at Barclays !!</p></div>
    </body>
</html>