<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="landing.css">
    <link rel="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css">   
</head>
<body>
    <header><img src="logo.jpg"></header>
    <div id="outer">
        <div class="menu">
            <h1 id="center-text" class="centertext">Where Talent<br> Meets Opportunity</h1>
            <p id="text" class="centertext">      
                Welcome to our college placement platform, your go-to source for comprehensive ideas regarding college. <br>
                Whether you're a student organizing your academic path or a teacher seeking statistical information,<br>
                 we're here to assist you. <br>
                Employers can expedite hiring with HireEase, while institutions can streamline campus placements, <br>
                aid recent graduates in securing their first jobs. <br>
                Our website is dedicated to providing thorough analyses of college placement patterns, <br>
                ensuring everyone involved has the resources they need to succeed. <br>
                Here we streamline tedious process of campus recruitments.
            </p>
            <form action="/login"><button type="submit" id="btn">Login</button></form>
            
        </div>
    </div>
</body>
</html>